<!DOCTYPE>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>About Me Page</title>
		<link rel="stylesheet" href="static/userInterface.css" />
		<script> src="static/userExperience.js"</script>
	</head>
	<body>
		<section>
			<nav>SIDE_MENU_CONTENTS
				<div class="sideMenuCard">
					<a class="active" href="#Home_Page">Back Home</a>
					<a href="Update_Bio">Update Bio</a>
					<a href="Account_Settings">Account Settings</a>
					<a href="Lock">Automated Locking Feature</a>
				</div>
			</nav>
			<main>
				<div class="mainAboutMePageContent">
					<div>Account User Profile Avatar</div>
					<div>User Bio Text Area</div>
				</div>
			</main>
			<footer>Copyright @2023</footer>
		</section>
	</body>
</html>
